*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
}
body{
    width: 100% !important;
}
.navbar-header .navbar-brand,#bar li a,#right li a,#right li a span{
    color:#ffffff;
}
#bar li #b{
    padding-left: 150px;
}
#advert{
    background-color: #f15a29;
    height: 23.5px;
}
/*Featured Section*/
.featured-products{
    background-color: #f4f4f4;
    height: auto;
    padding-top: 5em;
    padding-bottom: 5em;
   -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
.featured-products .container .row{
    margin-left: 8em;
}
#featured-specs .btn-spec{
    background-color: #0068ba;
}


/*Our Products*/
.cont-row{
    margin-bottom: 3em;
}
.category-col{
   height: 340px;
   border-width: 1px;
   margin-left: 2.5em;
   margin-right: 2.5em;
   margin-bottom: 1.5em;
   background-color: #f4f4f4;
   -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
.category-col img{
   margin: 0 auto;
   height: 180px !important;
}

/* End of Products Styles!! */



/* Footer */
#id-footer{
    background-color: #f4f4f4;
    padding-top: .1em;
}
.footer-div .footer-row div{
    text-align: center;
}
.footer-div .footer-row div a{
    color: #000;
    text-decoration: none;
}
.footer-div .footer-row div a:hover{
    color: blue;
    font-weight: bolder;
}
.footer-div .footer-row div ul{
    list-style: none;
}
.footer-div .footer-row div ul li{
    text-align: left;
}
.footer-paragraph p{
    margin-top: 1em;
}